---
import Default from "@astrojs/starlight/components/TableOfContents.astro";
import { Icon } from "@astrojs/starlight/components";

interface Props {
  pin?: boolean;
}

const { pin = false } = Astro.props;
---

<div
  class="sticky top-0 right-4 z-100 flex justify-end bg-[var(--sl-color-bg)] -mt-[1.8125rem]"
>
  <div class="toggle-button text-right cursor-pointer select-none">
    <Icon
      name="right-caret"
      color="var(--sl-color-gray-3)"
      size="1.5rem"
      class:list={!pin ? "hidden" : ""}
    />
    <Icon
      name="bars"
      color="var(--sl-color-gray-3)"
      size="1.5rem"
      class:list={pin ? "hidden" : ""}
    />
  </div>
</div>

<div class:list={["content", !pin ? "hidden" : ""]}>
  <Default>
    <slot />
  </Default>
</div>

<script>
  const toggleButton = document.querySelector<HTMLDivElement>(".toggle-button");
  if (toggleButton) {
    toggleButton.addEventListener("click", function () {
      var content = document.querySelector<HTMLDivElement>(".content");
      if (content) {
        content.classList.toggle("hidden");
      }

      var icons = toggleButton.querySelectorAll<SVGElement>("svg");
      icons.forEach((icon) => {
        icon.classList.toggle("hidden");
      });
    });
  }
</script>
